In [1]:
import pandas as pd
import json
import csv

# 1st Question Solutin :

In [2]:
# 1st Question

# 1st part :
file_path="district_level_manufacturing_msme.json"
f=open(file_path)
data_json=json.load(f)
# print(data_json)
data_json.keys()
data_json['fields']
# data_json['data']

[{'id': 'a', 'label': 'STATE_NAME', 'type': 'string'},
 {'id': 'b', 'label': 'Lg_Dist_Code', 'type': 'string'},
 {'id': 'c', 'label': 'DISTRICT_NAME', 'type': 'string'},
 {'id': 'd', 'label': 'MICRO', 'type': 'string'},
 {'id': 'e', 'label': 'SMALL', 'type': 'string'},
 {'id': 'f', 'label': 'MEDIUM', 'type': 'string'},
 {'id': 'g', 'label': 'Total', 'type': 'string'},
 {'id': 'h', 'label': 'Last_Updated', 'type': 'string'}]

In [3]:
# 2nd part 
file_path="district_level_service_msme.csv"
data_csv=pd.read_csv(file_path)
print(data_csv)
# file=open(file_path)
# data.to_csv(file_path,index=false);

         STATE_NAME  Lg_Dist_Code         DISTRICT_NAME  MICRO  SMALL  MEDIUM  \
0    ANDHRA PRADESH           502            ANANTHAPUR   7797    238      10
1    ANDHRA PRADESH           503               CHITOOR   9623    351      19
2    ANDHRA PRADESH           505         EAST GODAVARI  12347    615      49
3    ANDHRA PRADESH           506                GUNTUR  11386    630      53
4    ANDHRA PRADESH           510               KRISHNA  15189   1007      79
..              ...           ...                   ...    ...    ...     ...
733     LAKSHADWEEP           553  LAKSHADWEEP DISTRICT    114      0       0
734      PUDUCHERRY           598              KARAIKAL    989     47       1
735      PUDUCHERRY           599                  MAHE     71     11       0
736      PUDUCHERRY           600           PONDICHERRY   5577    202      21
737      PUDUCHERRY           601                 YANAM     65      6       0

     Total Last_Updated
0     8045   2022-01-11
1     9993   2022-01-11
2    13011   2022-01-11
3    12069   2022-01-11
4    16275   2022-01-11
..     ...          ...
733    114   2022-01-11
734   1037   2022-01-11
735     82   2022-01-11
736   5800   2022-01-11
737     71   2022-01-11

[738 rows x 8 columns]

# 2nd Question Solution :

In [4]:
# Before Solving the question lets:
# Convert the dictionary to csv format
# data_json.keys()
# data_json['fields']
# data_json['data']
df_json=pd.DataFrame(data_json['data']) # Creating dataframe for data part of the json file
# print(df_json)

columns=pd.DataFrame(data_json["fields"])["label"].tolist() # Storing the columns of the dataframe created in a list
print(columns)

df_json=pd.DataFrame(data_json["data"],columns=columns) # Adding the columns to the dataframe as we were only
# considering data part initially
print(df_json)

['STATE_NAME', 'Lg_Dist_Code', 'DISTRICT_NAME', 'MICRO', 'SMALL', 'MEDIUM', 'Total', 'Last_Updated']
         STATE_NAME Lg_Dist_Code         DISTRICT_NAME  MICRO SMALL MEDIUM  \
0    ANDHRA PRADESH          502            ANANTHAPUR  11370   483     33
1    ANDHRA PRADESH          503               CHITOOR  13037   592     51
2    ANDHRA PRADESH          505         EAST GODAVARI  16711  1044    123
3    ANDHRA PRADESH          506                GUNTUR  15955  1678    169
4    ANDHRA PRADESH          510               KRISHNA  20460  1673    165
..              ...          ...                   ...    ...   ...    ...
732          LADAKH            9            LEH LADAKH   1493    35      0
733     LAKSHADWEEP          553  LAKSHADWEEP DISTRICT    150     0      0
734      PUDUCHERRY          598              KARAIKAL   1248    56      2
735      PUDUCHERRY          599                  MAHE     95    17      0
736      PUDUCHERRY          600           PONDICHERRY   7698   413     50

     Total Last_Updated
0    11886   2022-01-11
1    13680   2022-01-11
2    17878   2022-01-11
3    17802   2022-01-11
4    22298   2022-01-11
..     ...          ...
732   1528   2022-01-11
733    150   2022-01-11
734   1306   2022-01-11
735    112   2022-01-11
736   8161   2022-01-11

[737 rows x 8 columns]

In [5]:
# 2nd Question SOlution 
# First analysing the data types of each colun of our data_frame
df_json.dtypes

STATE_NAME       object
Lg_Dist_Code     object
DISTRICT_NAME    object
MICRO            object
SMALL            object
MEDIUM           object
Total            object
Last_Updated     object
dtype: object

In [6]:
# 2nd Question ANswer
# Bug Found
# We need to type cast . OTHer wise the numbers keep on appending
df_json["SMALL"]=df_json["SMALL"].astype(int) # Bug Resolution
df_json['SMALL'].sum()

317222

In [7]:
data_csv.head(10)

,STATE_NAME,Lg_Dist_Code,DISTRICT_NAME,MICRO,SMALL,MEDIUM,Total,Last_Updated
0,ANDHRA PRADESH,502,ANANTHAPUR,7797,238,10,8045,2022-01-11
1,ANDHRA PRADESH,503,CHITOOR,9623,351,19,9993,2022-01-11
2,ANDHRA PRADESH,505,EAST GODAVARI,12347,615,49,13011,2022-01-11
3,ANDHRA PRADESH,506,GUNTUR,11386,630,53,12069,2022-01-11
4,ANDHRA PRADESH,510,KRISHNA,15189,1007,79,16275,2022-01-11
5,ANDHRA PRADESH,511,KURNOOL,8972,348,16,9336,2022-01-11
6,ANDHRA PRADESH,517,PRAKASAM,6527,231,7,6765,2022-01-11
7,ANDHRA PRADESH,515,SPSR NELLORE,7515,351,19,7885,2022-01-11
8,ANDHRA PRADESH,519,SRIKAKULAM,2989,98,6,3093,2022-01-11
9,ANDHRA PRADESH,520,VISAKHAPATNAM,13102,941,78,14121,2022-01-11

In [8]:
data_csv.groupby('STATE_NAME').sum()

                             Lg_Dist_Code   MICRO  SMALL  MEDIUM   Total
STATE_NAME
ANDAMAN AND NICOBAR ISLANDS          1837    2884    111       6    3001
ANDHRA PRADESH                       6656  115320   5799     422  121541
ARUNACHAL PRADESH                   10477    1201     53       6    1260
ASSAM                               13401   41051   2182     200   43433
BIHAR                                8233  167835   3908     245  171988
CHANDIGARH                             44    9010    687      76    9773
CHHATTISGARH                        13925   58905   2726     257   61888
DADAR AND NAGAR HAVELI                465    2511     98       3    2612
DAMAN AND DIU                         927     892     35       2     929
DELHI                                2070  106599  10080    1399  118078
GOA                                  1103    8963    428      40    9431
GUJARAT                             16598  283123  12067    1164  296354
HARYANA                              3197  147956   7231     582  155769
HIMACHAL PRADESH                      246   21730    613      26   22369
JAMMU AND KASHMIR                    5078   47434   1145      62   48641
JHARKHAND                            8528   74753   2357     170   77280
KARNATAKA                           17133  248728  10468     987  260183
KERALA                               7847   98110   5305     397  103812
LADAKH                                 15    1652     32       0    1684
LAKSHADWEEP                           553     114      0       0     114
MADHYA PRADESH                      22514  194520   6634     397  201551
MAHARASHTRA                         17570  962520  25367    2797  990684
MANIPUR                              7302   10051    175       9   10235
MEGHALAYA                            4566    1286     89      11    1386
MIZORAM                              4297    2002     52       8    2062
NAGALAND                             4558    1757     23       2    1782
ODISHA                              10755   87502   3798     281   91581
PUDUCHERRY                           2398    6702    266      22    6990
PUNJAB                               4467  141714   5021     337  147072
RAJASTHAN                            3877  328406   8952     616  337974
SIKKIM                                906    1073     39       8    1120
TAMIL NADU                          23109  431053  13954    1050  446057
TELANGANA                           21051  150812   6783     713  158308
TRIPURA                              3696    3556    163       9    3728
UTTAR PRADESH                       13928  326045  11567     914  338526
UTTARAKHAND                           663   39722   1237      79   41038
WEST BENGAL                          8701  111856   7657     772  120285

# 3rd Question Solution :

In [9]:
df_x=data_csv.groupby('STATE_NAME').sum()
df3=df_x.loc[:, ~df_x.columns.isin(['Lg_Dist_Code','Total'])]
df4=df_x.iloc[:,df_x.columns.isin(['MICRO','SMALL','MEDIUM'])]
# df3=df_x.loc[:, df_x.columns != 'Total']
print(df3)
# df3.to_csv('Ypg_202051208_Assignement_1_Q_3.csv')

                              MICRO  SMALL  MEDIUM
STATE_NAME
ANDAMAN AND NICOBAR ISLANDS    2884    111       6
ANDHRA PRADESH               115320   5799     422
ARUNACHAL PRADESH              1201     53       6
ASSAM                         41051   2182     200
BIHAR                        167835   3908     245
CHANDIGARH                     9010    687      76
CHHATTISGARH                  58905   2726     257
DADAR AND NAGAR HAVELI         2511     98       3
DAMAN AND DIU                   892     35       2
DELHI                        106599  10080    1399
GOA                            8963    428      40
GUJARAT                      283123  12067    1164
HARYANA                      147956   7231     582
HIMACHAL PRADESH              21730    613      26
JAMMU AND KASHMIR             47434   1145      62
JHARKHAND                     74753   2357     170
KARNATAKA                    248728  10468     987
KERALA                        98110   5305     397
LADAKH                         1652     32       0
LAKSHADWEEP                     114      0       0
MADHYA PRADESH               194520   6634     397
MAHARASHTRA                  962520  25367    2797
MANIPUR                       10051    175       9
MEGHALAYA                      1286     89      11
MIZORAM                        2002     52       8
NAGALAND                       1757     23       2
ODISHA                        87502   3798     281
PUDUCHERRY                     6702    266      22
PUNJAB                       141714   5021     337
RAJASTHAN                    328406   8952     616
SIKKIM                         1073     39       8
TAMIL NADU                   431053  13954    1050
TELANGANA                    150812   6783     713
TRIPURA                        3556    163       9
UTTAR PRADESH                326045  11567     914
UTTARAKHAND                   39722   1237      79
WEST BENGAL                  111856   7657     772

# 4th Question Solution :

In [10]:
df_json.columns=df_json.columns.str.lower() # converting title of each column name to lowercase
data_csv.columns=data_csv.columns.str.lower() # converting title of each column name to lower case for typing comfort

# ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat
# Reason for error : In the first data frame the lg_dist_name is of type : int64 and in the other it is of the type object
# So we need to typecast the object  to int64

df_json["lg_dist_code"] = df_json["lg_dist_code"].astype(int)

column=['state_name','district_name','lg_dist_code','last_updated']

df_4=pd.merge(df_json,data_csv,left_on=column,right_on=column)
print(df_4)

         state_name  lg_dist_code         district_name micro_x  small_x  \
0    ANDHRA PRADESH           502            ANANTHAPUR   11370      483
1    ANDHRA PRADESH           503               CHITOOR   13037      592
2    ANDHRA PRADESH           505         EAST GODAVARI   16711     1044
3    ANDHRA PRADESH           506                GUNTUR   15955     1678
4    ANDHRA PRADESH           510               KRISHNA   20460     1673
..              ...           ...                   ...     ...      ...
732          LADAKH             9            LEH LADAKH    1493       35
733     LAKSHADWEEP           553  LAKSHADWEEP DISTRICT     150        0
734      PUDUCHERRY           598              KARAIKAL    1248       56
735      PUDUCHERRY           599                  MAHE      95       17
736      PUDUCHERRY           600           PONDICHERRY    7698      413

    medium_x total_x last_updated  micro_y  small_y  medium_y  total_y
0         33   11886   2022-01-11     7797      238        10     8045
1         51   13680   2022-01-11     9623      351        19     9993
2        123   17878   2022-01-11    12347      615        49    13011
3        169   17802   2022-01-11    11386      630        53    12069
4        165   22298   2022-01-11    15189     1007        79    16275
..       ...     ...          ...      ...      ...       ...      ...
732        0    1528   2022-01-11     1099       23         0     1122
733        0     150   2022-01-11      114        0         0      114
734        2    1306   2022-01-11      989       47         1     1037
735        0     112   2022-01-11       71       11         0       82
736       50    8161   2022-01-11     5577      202        21     5800

[737 rows x 12 columns]

In [13]:
data_csv.columns

Index(['state_name', 'lg_dist_code', 'district_name', 'micro', 'small',
       'medium', 'total', 'last_updated'],
      dtype='object')

In [14]:
df_json.columns

Index(['state_name', 'lg_dist_code', 'district_name', 'micro', 'small',
       'medium', 'total', 'last_updated'],
      dtype='object')

# 5th Question Solution :

In [11]:
# Viewing the data type of each columns
print(df_4.dtypes)

state_name       object
lg_dist_code      int32
district_name    object
micro_x          object
small_x           int32
medium_x         object
total_x          object
last_updated     object
micro_y           int64
small_y           int64
medium_y          int64
total_y           int64
dtype: object

In [12]:
# First of all the columns micro_x ,small_x and medium_x are of object type 
# I have already typecasted small_x before . So no need to type cast it
# we need to convert them to int type
df_4["micro_x"]=df_4["micro_x"].astype("int")    
df_4["medium_x"]=df_4["medium_x"].astype("int")

# Let's create pivot table
df_4.pivot_table(["medium_y","medium_x","micro_x","micro_y","small_x","small_y"],index="state_name",aggfunc='sum')

,medium_x,medium_y,micro_x,micro_y,small_x,small_y
state_name,,,,,,
ANDAMAN AND NICOBAR ISLANDS,7,6,3905,2884,140,111
ANDHRA PRADESH,1030,422,153814,115320,10599,5799
ARUNACHAL PRADESH,11,6,2172,1201,99,53
ASSAM,309,200,65544,41051,3345,2182
BIHAR,413,245,247394,167835,5226,3908
CHANDIGARH,134,76,11435,9010,1007,687
CHHATTISGARH,566,257,74058,58905,4580,2726
DADAR AND NAGAR HAVELI,82,3,3730,2511,419,98
DAMAN AND DIU,56,2,1626,892,295,35
DELHI,2594,1399,166761,106599,19400,10080
GOA,91,40,11556,8963,713,428
GUJARAT,4168,1164,496564,283123,38098,12067
HARYANA,1696,582,213404,147956,16387,7231
HIMACHAL PRADESH,238,26,28509,21730,1559,613
JAMMU AND KASHMIR,148,62,73438,47434,1854,1145
JHARKHAND,308,170,97726,74753,3492,2357
KARNATAKA,2106,987,350026,248728,18996,10468
KERALA,785,397,147692,98110,8856,5305
LADAKH,0,0,2340,1652,49,32
LAKSHADWEEP,0,0,150,114,0,0
MADHYA PRADESH,1045,397,264197,194520,12190,6634
MAHARASHTRA,6377,2797,1305092,962520,49991,25367
MANIPUR,10,9,21076,10051,247,175
MEGHALAYA,21,11,1828,1286,147,89
MIZORAM,8,8,2942,2002,74,52
NAGALAND,4,2,2875,1757,53,23
ODISHA,463,281,116968,87502,5412,3798
PUDUCHERRY,52,22,9041,6637,486,260
PUNJAB,1269,337,212134,141714,12334,5021
RAJASTHAN,1672,616,501175,328406,19456,8952
SIKKIM,8,8,1382,1073,56,39
TAMIL NADU,2879,1050,668147,431053,30634,13954
TELANGANA,1649,713,199030,150812,12540,6783
TRIPURA,17,9,6103,3556,252,163
UTTAR PRADESH,2112,914,486415,326045,21530,11567
UTTARAKHAND,283,79,54666,39722,2618,1237
WEST BENGAL,1631,772,167593,111856,14088,7657